  
<section class="wrapper image-wrapper bg-full bg-image bg-overlay bg-overlay-light-600" style="background-image: url('<%= asset_path("photos/bg23.png") %>');" data-image-src="<%= asset_path("photos/bg23.png") %>">
  <div class="container pt-20 xl:pt-28 lg:pt-28 md:pt-28 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
    <div class="flex flex-wrap mx-[-15px] mt-[-50px] xl:mx-[-35px] lg:mx-[-20px] items-center">
      <!-- Image Column -->
      <div class="xl:w-7/12 lg:w-7/12 flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full xl:!order-2 lg:!order-2 !relative mt-[50px]">
        <figure class="m-0 p-0">
          <%= image_tag("contact.png",
                        class: "w-auto", 
                        alt: "image") %>
        </figure>
      </div>
      <!-- Content Column -->
      <div class="xl:w-5/12 lg:w-5/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full mt-[50px]">
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] !mb-3">Let’s Talk!</h2>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">
          If you're ready to take the next step in your personal or professional journey,
          <span class="relative z-[2] whitespace-nowrap after:content-[''] after:block after:absolute after:w-[102.5%] after:h-[30%] after:left-[-1.5%] after:z-[-1] after:transition-all after:duration-[0.2s] after:ease-in-out after:mt-0 after:rounded-[5rem] after:bottom-[9%] motion-reduce:after:transition-none after:bg-[rgba(63,120,224,.12)] purple">
            <span class="text-bold-purple">we're here to help</span>.
          </span>
          Whether you're looking to develop new skills, explore new opportunities, or even launch your own business, we're dedicated to supporting women who are ready to embrace change and growth. At WISE, we believe that <span class="text-bold-purple">every woman has the potential to succeed</span>, and we're here to provide the guidance, resources, and support you need to make your goals a reality.
        </p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">
          <span class="text-bold-purple">Don't wait for the perfect moment, the best time to start is now</span>. Reach out to us, and let's start the conversation about how we can help you unlock your full potential. Whether you're just starting out or looking to take your career or business to the next level, we're here to support you every step of the way.
        </p>
        <%= link_to "Contact us", contact_path, 
           class: "btn btn-mypurple !rounded-[50rem] !mt-2" %>
      </div>
    </div>
    <!--/.row -->
  </div>
</section>
<!-- /section -->