<%= render 'shared/header', title: 'Lifelong Learning' %>
<section class="wrapper !bg-[#ffffff]">
  <div class="container pt-20 xl:pt-18 lg:pt-18 md:pt-18 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
    <div class="flex flex-wrap mx-[-15px] mb-10">
      <div class="lg:w-12/12 xl:w-12/12 xxl:w-12/12 w-full flex-[0_0_auto] px-[15px] max-w-full">
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium"><span class="text-bold-purple">WISE</span> focuses on empowering women through inclusive training and education. We offer practical workshops, networking opportunities, mentorship programs, and collaborative projects that equip participants with the skills, confidence, and networks needed to thrive in modern professional and community settings.</p>
      </div>
    </div>
    <div class="flex flex-wrap mx-[-15px] !text-center mb-10">
      <div class="xl:w-9/12 lg:w-9/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto">
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] !leading-[1.3]  !mb-0 !text-center xl:!px-5 xxl:!px-10 !mb-3">1. Women’s Entrepreneurship & Startup Support</h2>
        <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] process-wrapper !text-center mt-9">
          <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full">
            <i class="fa-solid fa-lightbulb text-[#3f78e0] fa-4x mb-3"></i>
            <h4 class="!mb-1">Business Model Development</h4>
            <p>Hands-on sessions guiding participants through idea validation, financial planning, and market analysis from a <span class="text-bold-purple">female-focused perspective.</span></p>
          </div>
          <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full">
            <i class="fa-solid fa-user-tie text-[#3f78e0] fa-4x mb-3"></i>
            <h4 class="!mb-1">Mentorship & Coaching</h4>
            <p>One-to-one and group mentoring that helps women translate their goals into actionable steps, build resilience, and navigate entrepreneurial ecosystems.</p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <div class="flex flex-wrap mx-[-15px] !text-center mb-10">
      <div class="xl:w-9/12 lg:w-9/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto">
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] !leading-[1.3]  !mb-0 !text-center xl:!px-5 xxl:!px-10 !mb-3">2. Leadership & Personal Development</h2>
        <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] process-wrapper !text-center mt-9">
          <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full">
            <i class="fa-solid fa-comments text-[#3f78e0] fa-4x mb-3"></i>
            <h4 class="!mb-1">Confidence & Soft Skills Training</h4>
            <p>Workshops on communication, negotiation, and leadership designed to address gender-specific barriers and empower participants in professional contexts.</p>
          </div>
          <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full">
            <i class="fa-solid fa-handshake text-[#3f78e0] fa-4x mb-3"></i>
            <h4 class="!mb-1">Networking & Collaboration</h4>
            <p>Events and gatherings that foster peer support, cross-cultural exchanges, and opportunities for professional growth.</p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <div class="flex flex-wrap mx-[-15px] !text-center mb-10">
      <div class="xl:w-9/12 lg:w-9/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto">
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] !leading-[1.3]  !mb-0 !text-center xl:!px-5 xxl:!px-10 !mb-3">3. Cultural Intelligence & Intercultural Exchange</h2>
        <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] process-wrapper !text-center mt-9">
          <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full">
            <i class="fa-solid fa-globe-americas text-[#3f78e0] fa-4x mb-3"></i>
            <h4 class="!mb-1">CQ & Inclusion Workshops</h4>
            <p>Training women to thrive in diverse, international environments, with practical tips for overcoming cultural barriers in business and community settings.</p>
          </div>
          <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full">
            <i class="fa-solid fa-users text-[#3f78e0] fa-4x mb-3"></i>
            <h4 class="!mb-1">Cross-Border Collaboration</h4>
            <p>Virtual and in-person programs that bring together women from different countries to share best practices and form lasting partnerships.</p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
  </div>
</section>
<section class="wrapper !bg-[#ffffff] ">
  <div class="container pb-16 xl:pb-20 lg:pb-20 md:pb-20 !text-center">
    <div class="flex flex-wrap mx-[-15px]">
      <div class="md:w-10/12 xl:w-8/12 lg:w-8/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:!ml-[16.66666667%] lg:!ml-[16.66666667%] md:!ml-[8.33333333%]">
        <h3 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] mb-10 xl:!px-10">
          Why Our Lifelong Learning Matters 
        </h3>
      </div>
    </div>
    <div class="!relative">
      <div class="shape !rounded-[50%] !bg-[#edf2fc] rellax !w-[6rem] !h-[6rem] !absolute" data-rellax-speed="1" style="bottom: -0.5rem; right: -2.2rem;"></div>
      <div class="shape bg-dot purple rellax !w-[6rem] !h-[7rem] !absolute opacity-50" data-rellax-speed="1" style="top: -0.5rem; left: -2.5rem;"></div>
      <div class="flex flex-wrap mx-[-15px] xl:mx-[-12.5px] lg:mx-[-12.5px] md:mx-[-12.5px] mt-[-25px] !text-center">
        <% services = [
      { title: "Empowering Women Across All Stages", description: "We adapt our training to the diverse needs of women, from fresh graduates to those re-entering the job market or stepping into leadership.", color: "#fab758" },
      { title: "Practical, Collaborative Approach", description: "Our sessions aren’t just theory; participants leave with implementable strategies, meaningful connections, and the self-assurance to take on new challenges.", color: "#e2626b" },
      { title: "Committed to EU Priorities", description: "By actively engaging in Erasmus+ and other European initiatives, we ensure that our programs meet international standards for quality, inclusivity, and impact.", color: "#45c4a0" },
    ] %>
        <% services.each do |service| %>
          <div class="md:w-12/12 lg:w-12/12 xl:w-4/12 w-full flex-[0_0_auto] px-[15px] xl:px-[12.5px] lg:px-[12.5px] md:px-[12.5px] max-w-full mt-[25px]">
            <div class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)] min-height-275">
              <div class="card-body flex-[1_1_auto] p-[40px]">
                <h4><%= service[:title] %></h4>
                <p class="!mb-2"><%= service[:description] %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
