<%= render 'shared/header', title: 'Our Partnerships' %>
<section class="wrapper !bg-[#ffffff]">
  <div class="container pt-20 xl:pt-18 lg:pt-18 md:pt-18 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
    <div class="flex flex-wrap mx-[-15px]">
      <div class="lg:w-12/12 xl:w-12/12 xxl:w-12/12 w-full flex-[0_0_auto] px-[15px] max-w-full">
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] !mb-3">Our Partnerships</h2>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">Our projects are made possible through strategic partnerships and collaborations. We work closely with organizations, professionals, and communities to deliver programs that are impactful, sustainable, and responsive to the needs of women.</p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium mt-6 italic">
          Stay tuned for updates on our initiatives and join us in making a difference. Together, we can create opportunities for women to grow, connect, and thrive.
        </p>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/contact' %>
