<%= render 'shared/header', title: 'Our Partnerships' %>
<section class="wrapper !bg-[#ffffff]">
  <div class="container pt-20 xl:pt-18 lg:pt-18 md:pt-18 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
    <div class="flex flex-wrap mx-[-15px]">
      <div class="lg:w-12/12 xl:w-12/12 xxl:w-12/12 w-full flex-[0_0_auto] px-[15px] max-w-full">
        <%= image_tag("svg/doodle8.svg", class: "h-14 !absolute hidden xl:block lg:block", style: "bottom: 50%; right: 3%", alt: "doodle") %>
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] !mb-3">Empowering Change Through Strategic Partnerships</h2>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium mt-6">
          Our projects are made possible through <span class="text-bold-purple">strategic partnerships</span> and collaborations that drive lasting impact and sustainable growth. While we initially operated informally, in a remarkably short period of time, we have established an extensive network of valuable contacts that have evolved into highly effective partnerships. These collaborations span across numerous countries in Europe, with a particular emphasis on the Western Balkans, a region close to our hearts due to the Bosnian heritage of our founders.
        </p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium mt-6">
          Thanks to these partnerships, we’ve been able to deliver programs that are <span class="text-bold-purple">responsive to the needs of women</span> and other marginalized groups, creating real, meaningful change. We are proud to work with organizations, professionals, and communities that share our vision for empowering women and fostering entrepreneurship. Together, we are building an <span class="text-bold-purple">inclusive environment</span> where women and marginalized groups have access to the necessary resources, opportunities, and networks to succeed.
        </p>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium mt-6">
          At WISE, we are committed to creating a positive, long-term impact by <span class="text-bold-purple">connecting and empowering women</span>, as well as other marginalized groups, across borders. Our collective efforts with partners continue to make strides toward a <span class="text-bold-purple">more equitable world</span> where everyone can access the tools to grow, advance, and thrive in every aspect of their lives. Stay tuned for updates on our initiatives, and join us in this movement. <span class="text-bold-purple">Together, we can unlock new opportunities and empower individuals to reach their full potential.</span>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="wrapper !bg-[#edf2fc] wrapper-border">
  <div class="container pt-20 xl:pt-28 lg:pt-28 md:pt-28 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
    <div class="swiper-container clients !mb-0 relative z-10" data-margin="30" data-dots="false" data-loop="true" data-autoplay="true" data-autoplaytime="1" data-drag="false" data-speed="5000" data-items-xxl="7" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-xs="2">
      <div class="swiper">
        <div class="swiper-wrapper ticker">
          <!-- Loop through the images -->
          <% (1..6).each do |i| %>
            <div class="swiper-slide px-5">
              <%= image_tag("logo-#{i}.png", alt: "image !rounded-[.4rem]", class: "!w-full", style: "max-height: 300px; max-width: 300px;") %>
            </div>
          <% end %>
        </div>
        <!--/.swiper-wrapper -->
      </div>
      <!-- /.swiper -->
    </div>
    <!-- /.swiper-container -->
  </div>
</section>
<!-- /section -->